#timer {
    margin-top: 200px;
    text-align: center;
    font-size: 80px;
    color: #000;
}
#buttons {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 251px;
}
#results {
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
